<h1>Create a Team and Heroes!</h1><br>

<form action='/super_hero' method="post">
  <label>Team Name:</label>
  <input type="text" id=" " name=" "></input><br><br>

  <label>Team Motto:</label>
  <input type="text" id=" " name=" "></input><br><br>

<h2>Hero 1</h2><br><br>

  <label>Hero's Name:</label>
  <input type="text" id=" " name=" "></input><br><br>

  <label>Hero's Power:</label>
  <input type="text" id=" " name=" "></input><br><br>

  <label>Hero's Biography:</label>
  <input type="text" id=" " name=" "></input><br><br>

<h2>Hero 2</h2><br><br>

  <label>Hero's Name:</label>
  <input type="text" id=" " name="name"></input><br><br>

  <label>Hero's Power:</label>
  <input type="text" id=" " name=" "></input><br><br>

  <label>Hero's Biography:</label>
  <input type="text" id=" " name=" "></input><br><br>

<h2>Hero 3</h2><br><br>

  <label>Hero's Name:</label>
  <input type="text" id=" " name=" "></input><br><br>

  <label>Hero's Power:</label>
  <input type="text" id=" " name=" "></input><br><br>

  <label>Hero's Biography:</label>
  <input type="text" id=" " name=" "></input><br><br>

  <input type="submit" value="Submit"><br><br>
